.title {
  text-align: center;
  margin-top: 3%;
  font-size: 2.5em;
  text-decoration: underline;
}

.block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid {
<<<<<<< HEAD
  border: 2px solid #000000;
=======
  border: 2px solid #ed7f10;
>>>>>>> 8f0fb54b8ef7703fa0c2116d263d3d5ff35c2007
  text-align: center;
}

.stock {
  font-weight: bold;
<<<<<<< HEAD
  background-color: red;
=======
  background-color: #4b0082;
>>>>>>> 8f0fb54b8ef7703fa0c2116d263d3d5ff35c2007
}

img {
  width: 20%;
}

.info {
  display: flex;
  justify-content: space-around;
}
