* {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  display: flex;
  justify-content: space-around;
<<<<<<< HEAD
  background-color: orangered;
  border-radius: 50px;
=======
  background-color: #ed7f10;
}

footer p {
  background-color: #ed7f10;
>>>>>>> 8f0fb54b8ef7703fa0c2116d263d3d5ff35c2007
}
